TRANSLATION_PROVIDER_ORDER=deepl,http,hf_nllb
DEEPL_API_KEY=
DEEPL_BASE_URL=https://api-free.deepl.com/v2
HTTP_TRANSLATION_ENABLED=false
HTTP_TRANSLATION_URL=http://127.0.0.1:9988/translate
HUGGINGFACE_NLLB_ENABLED=false
HUGGINGFACE_NLLB_URL=
HUGGINGFACE_NLLB_MODEL=facebook/nllb-200-distilled-600M
TRANSLATION_REQUEST_TIMEOUT_SECONDS=60
TRANSLATION_API_HOST=127.0.0.1
TRANSLATION_API_PORT=8876
